﻿<section id="dashboard-view" class="mainbar" ng-controller="welcome as vm">
    <section class="matter">
        <style>
            .links_inline {
                overflow: hidden;
                display: inline;
                padding-right: 20px;
                color: #43c83c;
                cursor: pointer;
            }
        </style>
        <div>
            <label class="links_inline" ng-click="vm.goBack(1)">Networks</label>
            <label class="links_inline" ng-click="vm.goBack(2)">{{vm.selectedNetwork.NetworkName}}</label>
            <label class="links_inline">{{vm.selectedSeries.SeriesName}}</label>
        </div>
        <div class="my_bpin container">
            <div>
                <ul ng-class="{true: 'visible', false: 'hidden'}[vm.showNetworks]">
                    <li id="network{{n.NetworkId}}" data-ng-repeat="n in vm.networks">
                        <div class="item_title">{{ n.NetworkName }}</div>
                        <div class="item_preview" data-target-id="{{n.NetworkId}}" ng-click="vm.selectNetwork(n)">
                            <div class="bpin_icon" style="background-image:url({{n.Thumbnail}});"></div>
                        </div>
                    </li>
                    <li>
                        <div class="item_title">Coming Soon ...</div>
                        <div class="item_preview" style="cursor: auto">
                            <div class="bpin_icon" style="background-image:url('http://static.tvtome.com/images/genie_images/news_hub/t/tbs_logo_hub.jpg')"></div>
                        </div>
                    </li>
                </ul>
                <ul ng-class="{true: 'visible', false: 'hidden'}[vm.showSeries]">
                    <li id="series{{s.SeriesId}}" data-ng-repeat="s in vm.series">
                        <div class="item_title">{{ s.SeriesName }}</div>
                        <div class="item_preview" data-target-id="{{s.SeriesId}}" ng-click="vm.selectSeries(s)">
                            <div class="bpin_icon" style="background-image:url({{s.Thumbnail}});"></div>
                        </div>
                    </li>
                </ul>
                <ul ng-class="{true: 'visible', false: 'hidden'}[vm.showEpisodes]">
                    <li id="episode{{e.EpisodeId}}" data-ng-repeat="e in vm.episodes">
                        <div ng-if="vm.getEpiName(e)"></div>
                        <div class="item_title">{{ e.epiName }}</div>
                        <div class="item_preview" data-target-id="{{e.EpisodeId}}" ng-click="vm.selectedEpisode(e)">
                            <div class="bpin_icon" style="background-image:url({{e.Thumbnail}});"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-include="'/app/episodes/episodeModal.html'"></div>
    </section>
</section>
