﻿<div data-cc-sidebar data-ng-controller="sidebar as vm">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget">
        </div>
        <ul class="navi">
            <li class="ngreen fade-selection-animation" data-ng-class="vm.isCurrent(r, {{r.config.settings.nav}})"
                data-ng-repeat="r in vm.navRoutes">
                <a id="item{{r.config.settings.nav}}" href="#{{r.url}}" data-ng-bind-html="r.config.settings.content"></a>
            </li>
            <!--<li id="searchbar" style="border-bottom: 1px solid #222">
                <form class="browse_form">
                    <input type="text" class="browse"/>
                </form>
            </li>-->
        </ul>
    </div>
</div>
 