﻿<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <!--<a href="/" class="navbar-brand"><span class="brand-title"></span></a>-->
        <a href="/"><img src="/content/images/youQueueLogo.png" style="height: 50px"/></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="" target="_blank"><!--http://www.johnpapa.net/hottowel-angular-->
                        Sign In <!--Created by John Papa-->
                    </a>
                </li>
                <!--<li>
                    <a href="" target="_blank" style="width: 50px; height: 50px;">
                        <img src="../../Content/images/beta_ribbon.png" />
                    </a>
                    
                </li>-->
            </ul>
        </div>
        <div class="pull-right"></div>
    </div>
</nav>