﻿<section id="dashboard-view" class="mainbar" ng-controller="uqApi as vm">
    <section class="matter">
        <div>
            <style>
                .custom-text {
                    height: 27px;
                    width: 180px;
                    background-color: #333;
                    border: 0;
                    color: #43c83c;
                }
                .api-selection {
                    display: inline;
                    background-color: #333;
                    border: 0;
                    color: #43c83c;
                }
                .custom-label {
                    display: inline;
                    font-weight: 300;
                    margin-left: 45px;
                    margin-top: 30px;
                    background-color: #333;
                    padding: 4px;
                    color: #43c83c;
                }
            </style>
        </div>
        <div class="container">
            <div class="row">
                <div >
                    <h3 style="text-align: center; color: #43c83c"><strong>YOU-QUEUE API</strong></h3>
                </div>
                <br /><br /><br />
                <div>
                    <h5 style=" text-align: center; color: #43c83c">You-Queue offers a free public API. The data is public data that is free. Below is a field to see what each available endpoint takes as parameters as well as the response</h5>
                </div><br /><br />
                <div>
                    <div style="width: 50%; float: left; padding-left: 140px">
                        <div style="padding-left: 45px;">
                            <input type="text" class="custom-text" style="display: inline" value="www.you-queue.com/api/v1" disabled="true" />
                            <select class="api-selection" style="width: 80px">
                                <option>/data</option>
                            </select>
                            <select class="api-selection" style="width: 125px">
                                <option>/getNetworks</option>
                                <option>/getSeries</option>
                                <option>/getEpisodess</option>
                                <option>/getSeriesByGenre</option>
                            </select>
                        </div>
                        <div style="margin-top: 27px; max-height: 270px;">
                            <div ng-show="true">
                                <label class="custom-label">NetworkId</label>
                                <input type="text" class="custom-text" />
                            </div>
                        </div>
                        <div>
                            <button class="btn pull-right" style="margin-right: 181px; margin-top: 50px">Submit</button>
                        </div>
                    </div>
                    <div style="width: 50%; float: left; background-color: white; width: 600px">
                        <iframe src="http://www.you-queue.com/api/v1/data/getNetworks" height="400" width="600"></iframe>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>
